In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'id':['a', 'a', 'b', 'b', 'a'],
                   'tag':['one', 'two', 'three', 'four', 'five'],
                   'cnt':[1,2,3,4,5]})

In [3]:
g = df.groupby(df['id'])

In [4]:
def h(x):
    l = [t for t in x['tag']]
    return ','.join(l), sum(x['cnt'])

In [5]:
g.agg(h)

             tag  cnt
id
a   one,two,five    8
b     three,four    7