In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'id':['a', 'a', 'b', 'b', 'a'], 'tag':['one', 'two', 'three', 'four', 'five'], 'cnt':[1,2,3,4,5]})

In [4]:
g = df.groupby(df['id'])

In [9]:
g.sum()

    cnt
id
a     8
b     7

In [15]:
def f(x):
    print(type(x))

In [16]:
g.agg(f)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

     tag   cnt
id
a   None  None
b   None  None